:root {
  --primary-color: #ffffff;
  --secondary-color: #333;

  --accent-color: #007bbf;
  --accent-color-hover: #0056b3;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #333;
    --secondary-color: #ffffff;

    --accent-color: #007bbf;
    --accent-color-hover: #0056b3;
  }
}
*/

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--accent-color);
}

header a img {
  max-width: 75vw;
  height: 100px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  padding: 10px;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--accent-color-hover);
}

header h1 {
  margin-top: 20px;
  font-size: 2em;
  color: var(--secondary-color);
}

section {
  padding: 20px;
  margin: 0px auto; /* Center the section */
  max-width: 800px; /* Limit the width */
  height: 100%;
}

section h2 {
  color: var(--accent-color);
  margin-bottom: 10px;
  text-wrap: pretty;
}

section p {
  line-height: 1.6;
  margin-bottom: 10px;
}

section address {
  font-style: normal;
  line-height: 1.6;
}

section a {
  color: var(--accent-color);
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

section h4 {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

form button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 150px;
}

form button:hover {
  background-color: var(--accent-color-hover);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.services-list span {
  white-space: nowrap;
}

.services-list span::after {
  content: "|";
  margin-left: 10px;
}

.services-list span:last-child::after {
  content: "";
  margin-left: 0;
}

footer {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid var(--accent-color);
  flex-shrink: 0;
}

footer a {
  color: var(--accent-color);
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  header a img {
    height: auto;
  }

  form input,
  form textarea {
    max-width: 100%; /* Ensure inputs take full width on mobile */
  }

  form button {
    width: 100%; /* Ensure button takes full width on mobile */
    max-width: 100%;
  }
}
